@import "./theme";

$button-theme-light: (
  'background': $black-1,
  'background-hover': $green-1,
  'disabled': $grey-1,
  'disabled-text': $grey-4,
  'text': $white,
  "social-login-background": $black-1,
  "social-login-text": $white,
  "social-login-border": transparent,
);

$button-theme-dark: (
  'background': $green-1,
  'background-hover': $white,
  'disabled': $grey-1,
  'disabled-text': $grey-4,
  'text': $black-1,
  "social-login-background": $white,
  "social-login-text": $black-1,
  "social-login-border": transparent,
);