@import "./theme";

$gallery-theme-light: (
  'action-background': $black-shadow,
  'action-background-hover': $green-shadow,
  'action-icon': $white,
  'action-icon-hover': $white,


  'add-image-background': $white,
  'add-image-accent': $grey-4,
  'add-image-accent-hover': $green-1,

  'button-color': $black-1,
  'button-color-hover': $green-1,
  'button-text': $white,
  'button-text-hover': $black-1,

  'large-image-backdrop': $black-shadow,
  'large-image-background': $black-1,
  'caption-background': $black-shadow,
  'caption-text': $white,

  'caption-icon': $white,
  'caption-icon-hover': $white,
  'caption-icon-background': $black-shadow,
  'caption-icon-background-hover': $green-1,
  'caption-editing-icon': $white,
  'caption-editing-icon-hover': $black-1,
  'caption-editing-icon-background': $green-1,
  'caption-editing-icon-background-hover': $white,
);

$gallery-theme-dark: (
  'action-background': $black-shadow,
  'action-background-hover': $grey-shadow,
  'action-icon': $white,
  'action-icon-hover': $white,
);