@import "./theme";

$global-theme-light: (
	"inactive-text": $khaki,
	"text": $black-1,
	"text-link": $green-2,
	"text-hover": $black-1,
	"background": $white,
	"accent": $green-1,
	"border": $grey-3,
	"highlight-background": $black-1,
	"highlight-text": $white,
	"divider": $grey-4,
);

$global-theme-dark: (
	"inactive-text": $grey-3,
	"text": $white,
	"text-link": $green-1,
	"text-hover": $white,
	"background": $black-1,
	"accent": $green-1,
	"border": $black-2,
	"highlight-background": $green-1,
	"highlight-text": $black-1,
	"divider": $grey-4,
);
