@import "./theme";

$nav-theme-light: (
  'background': $white,
  'text': $black-1,
  'highlight': $green-1,
);

$nav-theme-dark: (
  'background': $black-2,
  'text': $white,
  'highlight': $green-1,
);