@import "./theme";

$desktop: 720px;

$playlist-theme-light: (
	"tile-shadow": $black-shadow,
	"button-shadow": $black-shadow,
	"current-background": $black-2,
	"control-background": $grey-1,
	"control-background-hover": $black-1,
	"control-border": $white,
	"play-pause-background": $green-1,
	"play-pause-icon": $white,
	"control-icon": $white,
	"control-icon-hover": $white,
	"control-icon-off": $grey-4,
	"control-icon-on": $green-1,
	"player-background": $black-2,
	"player-border": $black-2,
	"author": $green-1,
	"title": $white,
	"desktop": $desktop,
	"ticker-text": $white,
);

$playlist-theme-dark: (
	"tile-shadow": $white,
	"button-shadow": $black-shadow,
	"current-background": $khaki,
	"control-background": $grey-2,
	"control-background-hover": $white,
	"control-border": $black-1,
	"play-pause-background": $green-1,
	"control-icon": $white,
	"control-icon-hover": $black-1,
	"control-icon-off": $grey-4,
	"control-icon-on": $green-1,
	"player-background": $black-2,
	"player-border": $black-2,
	"author": $grey-4,
	"title": $white,
	"desktop": $desktop,
	"ticker-text": $white,
);
