$black-1: #111111;
$black-2: #222222;
$black-shadow: #111111c5;
$grey-1: #4E4E4E;
$grey-2: #404040;
$grey-3: #E3E3E3;
$grey-4: #9a9a9a;
$grey-shadow: #4e4e4ee3;
$white: #FFFFFF;
$green-1: #25b86a;
$green-2: #25b86a;
$dark-green: #082314;
$green-shadow: #25b86ae3;
$khaki: #414941;
$red: #F54F64;
