$green: #2FE282;
$green-2: #25b86a;
$green-2: #20BB5C;
$khaki: #414941;
$white: #FFFFFF;
$black-1: #111111;
$black-2: #222222;
$grey-1: #4E4E4E;
$grey-2: #404040;
$grey-3: #E3E3E3;
$grey-4: #9a9a9a;
$red: #F54F64;
