@import "./theme";

$user-menu-theme-light: (
	"option": $white,
	"option-text": $black-1,
	"option-hover": $grey-2,
	"option-text-hover": $white,
  "background": $grey-3,
	"username": $grey-4,
	"displayName": $black-1,
);

$user-menu-theme-dark: (
	"option": $black-1,
	"option-text": $white,
	"option-hover": $green-1,
	"option-text-hover": $black-1,
  "background": $khaki,
	"username": $green-1,
	"displayName": $white,
);
