@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./themes";

:root {
	font-family: "Inter", sans-serif;

	@each $theme, $attributes in $active-theme {
		@each $attribute, $value in $attributes {
			--#{$theme}-#{$attribute}: #{$value};
		}
	}
}

html[data-theme="dark"] {
	$active-theme: $dark-theme;

	@each $theme, $attributes in $active-theme {
		@each $attribute, $value in $attributes {
			--#{$theme}-#{$attribute}: #{$value};
		}
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	width: 100vw;
	overflow-x: hidden;
	position: relative;
	background-color: var(--global-background);
	color: var(--global-text);
	transition-property: color background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

nav {
	position: fixed;
	width: 100vw;
	width: 100%;
	height: 4.5rem;
	height: 3.125rem;
	top: 0;
	z-index: 10;
	overflow: hidden;
	box-shadow: 0 0.0125rem 0.125rem rgba(0, 0, 0, 0.25);
	transition: top 0.3s;
	background-color: var(--nav-background);
}

main {
	min-height: 86.875vh;
	max-width: 60rem;
	width: 100%;
	margin: auto;
	margin-top: 3.125rem;
	padding: 0.625rem;
	position: relative;
}

footer {
	width: 100%;
	padding: 2rem;
	background-color: var(--footer-background);
	color: var(--footer-text);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
}
