// Base Theme
@import "./theme.scss";

// Component Themes
@import "./button_theme";
@import "./footer_theme";
@import "./global_theme";
@import "./menu_theme";
@import "./nav_theme";
@import "./skeleton_theme";
@import "./toggle_theme";

$light-theme: (
	"button": $button-theme-light,
	"footer": $footer-theme-light,
	"global": $global-theme-light,
	"menu": $menu-theme-light,
	"nav": $nav-theme-light,
	"skeleton": $skeleton-theme-light,
	"toggle": $toggle-theme-light,
);

$dark-theme: (
	"button": $button-theme-dark,
	"footer": $footer-theme-dark,
	"global": $global-theme-dark,
	"menu": $menu-theme-dark,
	"nav": $nav-theme-dark,
	"skeleton": $skeleton-theme-dark,
	"toggle": $toggle-theme-dark,
);

$active-theme: $light-theme;
