.seed {
  background-color: var(--button-background);
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--button-text);
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background-color: var(--button-background-hover);
  }
}