.list {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 1rem;
	border-top: 0.0625rem solid var(--global-border);

	a:last-child * {
		border-bottom: none;
	}
}

@media (min-width: 720px) {
	.list {
		grid-template-columns: repeat(auto-fill, minmax(18.5rem, auto));
		column-gap: 1rem;
		justify-content: space-around;
		margin: 0;

		a {
			width: fit-content;
		}
	}
}
