.list {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 1rem;
	border-top: 0.0625rem solid var(--border);
}

.list a:last-child * {
	border-bottom: none;
}

@media (min-width: 720px) {
	.list {
		grid-template-columns: repeat(auto-fill, minmax(19.5rem, auto));
		justify-content: space-around;
		margin: 0;
	}

	.list a {
		width: fit-content;
	}
}
