.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 11;
	backdrop-filter: blur(0.5rem);
}

.overlay[data-show="false"] {
	display: none;
}

.container {
	height: 100%;
	max-width: 60rem;
	width: 100%;
	margin: auto;
	position: relative;
}

.menu {
	background-color: var(--menu-background);
	border-radius: 0.3125rem;
	position: absolute;
	top: 3.25rem;
	right: 1.5rem;
	width: 15rem;
	overflow: hidden;
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--menu-text);
}

.option svg {
	height: 1.5rem;
	width: 1.5rem;
}

.option[data-active=true] {
	background-color: var(--menu-active-background);
	color: var(--menu-active-text);
}

.option[data-active=true] svg {
	fill: var(--menu-active-text);
}

.option[data-divider=true] {
	border-top: solid 0.375rem;
	border-color: var(--menu-divider);
}

.option[data-bottomdivider=true] {
	border-bottom: solid 0.375rem;
	border-color: var(--menu-divider);
}

.line {
	display: block;
	height: 0.0625rem;
	width: 100%;
	background-color: var(--menu-divider);
}

.toggle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 1.4rem;
	width: 2.8rem;
	border-radius: 1rem;
	background-color: var(--toggle-inactive);
	padding: 0.1rem;
	transition: 0.2s smooth;
}

.toggle[data-toggled=true] {
	justify-content: flex-end;
	background-color: var(--toggle-active);
}

.toggleThumb {
	display: flex;
	height: 1.1rem;
	width: 1.1rem;
	border-radius: 50%;
	background-color: var(--toggle-thumb);
}

@media (min-width: 769px) {
	.line {
		display: none;
	}

	.overlay {
		position: relative;
		background-color: transparent;
		height: 100%;
		width: auto;
		backdrop-filter: none;
		display: block;
	}

	.overlay[data-show="false"] {
		display: block;
	}

	.menu {
		background-color: transparent;
		position: relative;
		top: 0;
		right: 0;
		height: 100%;
		width: auto;
		display: flex;
		align-items: center;
	}

	.option {
		padding: 0;
		width: 6rem;
		justify-content: center;
		color: var(--text);
	}

	.option svg {
		display: none;
	}

	.option[data-active="true"] {
		background-color: transparent;
		color: var(--menu-text);
		text-decoration: underline;
		text-decoration-style: solid;
		text-underline-offset: 0.25rem;
		text-decoration-thickness: 0.25rem;
		text-decoration-color: var(--accent);
	}

	.option[data-divider="true"] {
		border: none;
		justify-content: space-between;
		background-color: var(--menu-active-background);
		color: var(--highlight-text);
		border-radius: 0.3125rem;
		height: 2.25rem;
		padding: 0.375rem 0.5rem;
		width: 8rem;
	}

	.option[data-divider="true"] svg {
		display: block;
	}

	.option[data-bottomdivider=true] {
		border: none;
	}

	.darkmode span {
		display: none;
	}

	.darkmode {
		order: 1;
	}

	.toggle {
		cursor: pointer;
	}
}
