.container {
  height: 2.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: var(--button-background);
  color: var(--button-text);
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: var(--button-background-hover);
    color: var(--button-text);
  }
}