.outerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  pointer-events: none;

  .innerContainer {
    position: absolute;
    top: 3.125rem;
    left: 0;
    right: 0;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    height: 86.875vh;

    .userNavMenu {
      position: absolute;
      top: 1rem;
      right: 3rem;
      display: flex;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--user-menu-background);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

      .option {
        background-color: var(--user-menu-option);
        color: var(--user-menu-option-text);
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
        width: 15rem;
        padding: 0.5rem 3rem 0.5rem 1rem;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        pointer-events: all;

        svg {
          stroke-width: 0.75rem;
        }

        &:hover {
          background-color: var(--user-menu-option-hover);
          color: var(--user-menu-option-text-hover);
        }
      }
    }
  }

}