.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 3.125rem);
  height: 100%;
  max-width: 24rem;
  width: 95%;
  padding: 0;
}

.formContainer {
  width: 100%;
  height: 100%;
  justify-self: right;
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  justify-content: flex-start;
  align-items: center;

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    h2 {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      color: var(--global-accent);
    }
  
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  form {
    width: 100%;
  }

  button {
    background-color: var(--button-background);
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    color: var(--button-text);
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      background-color: var(--button-disabled);
      color: var(--button-disabled-text);
      cursor: default;
    }
  }

  .form {
    position: relative;

    .atTag {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.25rem;
      margin-left: 1rem;
      transform: translateY(40%);
      color: var(--global-accent);
    }

    input {
      padding-left: 2.2rem;
      &:active ~ label, &:focus ~ label, &[data-dirty="true"] ~ label {
        margin-left: 0.5rem;
      }
    }

    label {
      margin-left: 2rem;


    }
  }

  .errorMessage {
    display: flex;
    flex-direction: column;
    color: var(--input-error);
    padding: 2rem 1rem 0;
  }

  .skipLink {
    margin: 2rem auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    width: fit-content;
    justify-content: center;
    // color: var(--global-text-link);
    
    p {
      display: flex;
      align-items: center;
    }

    svg {
      margin-left: -1.5rem;
      margin-right: 0.5rem;
    }

    &:hover {
      color: var(--global-text-link);
    }
  }

  .successMessage {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--global-accent);
    padding: 2rem 1rem 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

@media (min-width:1000px) {
  .container {
    .formContainer {
      margin: 10rem 0;
    }
  }
}