.body {
	padding: 0 1rem;
	display: grid;
}

.image {
	display: block;
	position: relative;
	width: 100%;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 1.25rem;
	margin-bottom: 1rem;
}

.image img {
	object-fit: cover;
	object-position: top;
	object-position: center;
}

.name {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.job {
	width: fit-content;
	font-size: 1.25rem;
	font-weight: 600;
	background-color: var(--highlight-background);
	color: var(--highlight-text);
	border-radius: 0.3125rem;
	padding: 0.3125rem 0.625rem;
	margin-bottom: 2rem;
}

.subheader {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.bio,
.project {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 1rem;
	margin-bottom: 2rem;
}

.project h3 {
	font-size: 1rem;
	font-weight: 600;
}

.project p {
	margin-bottom: 0.25rem;
}

.company {
	display: flex;
	width: fit-content;
	background-color: var(--highlight-background);
	color: var(--highlight-text);
	border-radius: 0.3125rem;
	padding: 0.3125rem 0.625rem;
	margin-bottom: 0.5rem;
}

.technologies {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.technologies span {
	display: flex;
	width: fit-content;
	border-radius: 0.3125rem;
	padding: 0.3125rem 0.625rem;
	border: 0.0625rem solid var(--text);
}

@media (min-width: 720px) {
	.image {
		height: 35rem;
	}
}
