@import "./page.module.scss";

.skeleton_coverImage {
  @extend .coverImage;

  background-color: var(--skeleton-background);
}

.skeleton_articleHeader {
  @extend .articleHeader;

	h2 {
		height: 2rem;
		width: 50%;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);
	}

	p {
		height: 1.5rem;
		width: 25%;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);
		margin-top: 0.5rem;
	}
}

.skeleton_shareIcons {
  @extend .shareIcons;

  span {
    display: inline-flex;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--skeleton-background);
  }
}

.skeleton_blog {
  @extend .blog;

	p {
    height: 1.5rem;
		width: 95%;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);
	}

	h3 {
    height: 2rem;
		width: 25%;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);
  }

	span {
    display: block;
		margin: 2rem auto;
		height: 15rem;
		width: 90%;
		border-radius: 0.3125rem;
    background-color: var(--skeleton-background);
	}
}

.skeleton_articleFooter .skeleton_shareIcons {
  @extend .articleFooter;
}

@media (min-width: 720px) {
	.skeleton_coverImage {
		height: 35rem;
	}

	.skeleton_blog span {
		height: auto;
		max-width: 45rem;
		width: 100%;
		aspect-ratio: 9 / 4;
	}
}
