.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem;
  background-color: var(--button-background);
  color: var(--button-text);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}