.coverImage {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 1.25rem;
  margin-bottom: 1rem;

  img {
    object-fit: cover;
  }
}

.articleHeader {
  display: block;
  margin: 0 1rem;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.25rem;
    font-size: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.shareIcons {
  display: block;

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
}

.blog {
  margin-bottom: 2rem;

  p, li {
    text-align: justify;
    line-height: 1.75rem;
  }

  p:first-of-type {
    font-weight: 600;
  }

  p, h3, ol, img {
    margin: 0 1rem 1rem;
  }

  ol {
    margin-left: 2.5rem;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  img {
    height: 15rem;
    width: calc(100% - 2rem);
    object-fit: cover;
    border-radius: 0.3125rem;
  }
}

.articleFooter .shareIcons {
  margin: 2rem 1rem;
}

@media (min-width: 720px) {
  .coverImage {
    height: 35rem;
  }

  .blog img {
    height: auto;
    max-width: 45rem;
    width: 100%;
    aspect-ratio: 9 / 4;
    display: block;
    margin: 0 auto 1rem;
  }
}