.noData {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.noPlaylists {
		margin-bottom: 2rem;
		font-size: 1.25rem;
		font-weight: 600;

    .name {
      color: var(--global-accent);
    }
	}

  a {
    padding: 1rem;
    background-color: var(--button-background);
    color: var(--button-text);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
      background-color: var(--button-background-hover);
    }
  }
}
