.container {
  height: 2.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: var(--button-background);
  color: var(--button-text);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  overflow: hidden;
  cursor: pointer;

  svg {
    transform: scale(1.75);
    margin-top: 0.3rem;
    pointer-events: none;
  }

  &[data-isclickable="false"] {
    cursor: default;
  }

  &[data-isclickable="true"]:hover {
    background-color: var(--button-background-hover);
    color: var(--button-text);
  }
}