.container {
  margin: 0;
  padding: 0;
  background-color: var(--user-profile-background);
}

.page {
  padding: 0;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr;

  .sidebar {
    background-color: var(--user-profile-sidebar-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0.5rem;
    background-position: center;
    background-size: cover;

    .header {
      background-color: var(--user-profile-sidebar-background);
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.25rem;
      margin-bottom: 0.5rem;

      .profilePhoto {
        margin-bottom: 1rem;
      }

      h2 {
        color: var(--user-profile-sidebar-display-name);
      }

      h3 {
        color: var(--user-profile-sidebar-username);
      }
    }

    .details {
      background-color: var(--user-profile-sidebar-background);
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 0.25rem;
      margin-bottom: 0.5rem;

      .label {
        color: var(--user-profile-sidebar-label);
        margin-bottom: 1rem;
      }

      .info {
        color: var(--user-profile-sidebar-info);
        margin-left: 1rem;

        &[data-exists="false"] {
          color: var(--user-profile-sidebar-info-none);
          font-style: italic;
        }
      }
    }

    .auioPlayer {
      border-radius: 0.25rem;
      background-color: var(--user-profile-sidebar-background);
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .footer {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      background-color: var(--user-profile-sidebar-background);
      border-radius: 0.25rem;
      overflow: hidden;

      .emailButton {
        width: calc(100% - 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding: 0 0.5rem;
        height: 3rem;
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 0.25rem;
        background-color: var(--user-profile-sidebar-email-button-background);
        color: var(--button-text);
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        svg {
          margin-right: 0.5rem;
          height: 1.5rem;
          width: 1.5rem;
        }

        &[data-disabled="true"] {
          background-color: var(--button-disabled);
          color: var(--button-disabled-text);
          cursor: default;
        }
        
        &:hover:not(:disabled) {
          background-color: var(--user-profile-sidebar-email-button-background-hover);
        }
      }

      .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--user-profile-sidebar-footer-option-background);
        color: var(--user-profile-sidebar-footer-option-text);
      }
    }
  }
}

@media (min-width: 720px) {
  .page {
    $container-height: calc(86.875vh - 0.625rem * 2);
    max-height: 86.875vh;
    grid-template-columns: 300px auto;
    padding: 0.625rem;

    .sidebar {
      height: $container-height;
      border-radius: 0.5rem;
      padding: 1rem;

      .header, .details {
        padding: 1rem;
        margin-bottom: 1rem;
      }

      .footer {
        .emailButton {
          width: calc(100% - 2rem);
          margin: 1rem;
        }

        .option {
          padding: 1rem;
        }
      }
    }

    .content {
      height: $container-height;

      .contentGrid {
        padding: 0 1rem;
        overflow-y: scroll;
        height: calc($container-height - 3.5rem);
        background-color: transparent;
      }
    }
  }
}