@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	font-family: "Inter", sans-serif;
	--inactive-text: #414941;
	--text: #111111;
	--background: #ffffff;
	--accent: #2fe282;
	--border: #e3e3e3;
	--highlight-background: #111111;
	--highlight-text: #ffffff;

  --toggle-inactive: #e3e3e3;
  --toggle-active: #2fe282;
  --toggle-thumb: #414941;

  --menu-background: #ffffff;
  --menu-text: #111111;
  --menu-divider: #e3e3e3;
  --menu-active-background: #111111;
  --menu-active-text: #ffffff;
  
  --nav-background: #ffffff;
  --nav-text: #111111;
  --nav-highlight: #2fe282;

  --footer-background: #111111;
  --footer-text: #ffffff;
  --footer-subheader: #2fe282;
}

[data-theme="dark"] {
  --inactive-text: #e3e3e3;
  --text: #ffffff;
  --background: #111111;
  --accent: #2fe282;
  --border: #414941;
  --highlight-background: #2fe282;
  --highlight-text: #111111;

  --toggle-inactive: #e3e3e3;
  --toggle-active: #2fe282;
  --toggle-thumb: #414941;

  --menu-background: #323932;
  --menu-text: #ffffff;
  --menu-divider: #414941;
  --menu-active-background: #ffffff;
  --menu-active-text: #111111;

  --nav-background: #414941;
  --nav-text: #ffffff;
  --nav-highlight: #2fe282;

  --footer-background: #414941;
  --footer-text: #ffffff;
  --footer-subheader: #2fe282;
}

@media (prefers-color-scheme: dark) {
  /* :root {
		--inactive-text: #e3e3e3;
		--text: #ffffff;
		--background: #111111;
		--accent: #ffffff;
		--border: #414941;
		--highlight-background: #2fe282;
		--highlight-text: #111111;
	} */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	width: 100vw;
	overflow-x: hidden;
	position: relative;
	background-color: var(--background);
  color: var(--text);
}

nav {
	position: fixed;
	width: 100vw;
	width: 100%;
	height: 4.5rem;
	height: 3.125rem;
	top: 0;
	z-index: 10;
	overflow: hidden;
	box-shadow: 0 0.0125rem 0.125rem rgba(0, 0, 0, 0.25);
	transition: top 0.3s;
  background-color: var(--nav-background);
}

main {
	min-height: 86.875vh;
	max-width: 60rem;
	width: 100%;
	margin: auto;
	margin-top: 3.125rem;
	padding: 0.625rem;
	position: relative;
}

footer {
	width: 100%;
	padding: 2rem;
	background-color: var(--footer-background);
	color: var(--footer-text);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
}

/* @media (prefers-color-scheme: dark) {
  html {

  }
} */
