@import "../../styles/themes.scss";

.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 11;
	backdrop-filter: blur(0.5rem);

	&[data-show="false"] {
		display: none;
	}
}

.container {
	height: 100%;
	max-width: 60rem;
	width: 100%;
	margin: auto;
	position: relative;
}

.menu {
	background-color: var(--menu-background);
	border-radius: 0.3125rem;
	position: absolute;
	top: 3.25rem;
	right: 1.5rem;
	width: 15rem;
	overflow: hidden;
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--menu-text);

	svg {
		height: 1.5rem;
		width: 1.5rem;
	}

	&[data-active="true"] {
		background-color: var(--menu-option-active-background);
		color: var(--menu-option-active-text);

		svg {
			fill: var(--menu-option-active-text);
		}
	}

	&[data-divider="true"] {
		border-top: solid 0.375rem;
		border-color: var(--menu-divider);
	}

	&[data-bottomdivider="true"] {
		border-bottom: solid 0.375rem;
		border-color: var(--menu-divider);
	}
}

.line {
	display: block;
	height: 0.0625rem;
	width: 100%;
	background-color: var(--menu-divider);
}

@media (min-width: 769px) {
	.line {
		display: none;
	}

	.overlay {
		position: relative;
		background-color: transparent;
		height: 100%;
		width: auto;
		backdrop-filter: none;
		display: block;

		&[data-show="false"] {
			display: block;
		}
	}

	.menu {
		background-color: transparent;
		position: relative;
		top: 0;
		right: 0;
		height: 100%;
		width: auto;
		display: flex;
		align-items: center;
	}

	.option {
		padding: 0;
		width: 6rem;
		justify-content: center;
		color: var(--global-text);

		svg {
			display: none;
		}

		&[data-active="true"] {
			background-color: transparent;
			color: var(--menu-text);
			text-decoration: underline;
			text-decoration-style: solid;
			text-underline-offset: 0.25rem;
			text-decoration-thickness: 0.25rem;
			text-decoration-color: var(--global-accent);
		}

		&[data-divider="true"] {
			border: none;
			justify-content: space-between;
			background-color: var(--menu-option-active-background);
			color: var(--global-highlight-text);
			border-radius: 0.3125rem;
			height: 2.25rem;
			padding: 0.375rem 0.5rem;
			width: 8rem;

			svg {
				display: block;
			}
		}

		&[data-bottomdivider="true"] {
			border: none;
		}
	}

	.darkmode {
		order: 1;

		span {
			display: none;
		}
	}

	.toggle {
		cursor: pointer;
	}
}


.userButton {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: var(--button-background);
	color: var(--button-text);
	font-weight: 600;
}