.coverImage {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 1.25rem;
  margin-bottom: 1rem;
}

.coverImage img {
  object-fit: cover;
}

.articleHeader {
  display: block;
  margin: 0 1rem;
}

.articleHeader h2 {
  margin-bottom: 0.25rem;
}

.articleHeader {
  margin-bottom: 2rem;
}

.articleHeader p {
  margin-bottom: 1rem;
}

.shareIcons {
  display: block;
}

.shareIcons svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.blog p:first-of-type {
  font-weight: 600;
}

.blog p {
  text-align: justify;
}

.blog img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.blog p, .blog h3, .blog ol {
  margin: 0 1rem 1rem;
}

.blog h3 {
  margin-top: 2rem;
}

.blog {
  margin-bottom: 2rem;
}

.articleFooter .shareIcons {
  margin: 2rem 1rem;
}

@media (min-width: 720px) {
  .coverImage {
    height: 35rem;
  }

  .blog img {
    height: auto;
    max-width: 45rem;
    width: 100%;
    aspect-ratio: 9 / 4;
    display: block;
    margin: 0 auto;
  }
}