.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 3.125rem);
  height: 100%;
  max-width: 24rem;
  width: 95%;
  padding: 0;
}

.formContainer {
  width: 100%;
  height: 100%;
  justify-self: right;
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  justify-content: flex-start;
  align-items: center;

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    h2 {
      font-size: 8rem;
      line-height: 8rem;
      text-align: center;
      // margin-bottom: 1rem;
      color: var(--global-accent);
    }
  
    p {
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 0.125rem;
    }
  }

  .socialLogin {
    max-width: 24rem;
    height: 3rem;
    width: 100%;
    background-color: var(--button-social-login-background);
    border-radius: 0.25rem;
    color: var(--button-social-login-text);
    border: 1px solid var(--button-social-login-border);
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;

    svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .divider {
    max-width: 24rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.25rem;

    [data-left="true"], [data-right="true"] {
      height: 2px;
      width: 40%;
      background-color: var(--global-divider);
      background: linear-gradient(to right, transparent, var(--global-divider));
    }

    [data-right="true"] {
      background: linear-gradient(to left, transparent, var(--global-divider));
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .formContainer {
      margin: 10rem 0;
    }
  }
}