.form {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1fr, 20rem);
  // grid-template-rows: 4rem;
  row-gap: 2rem;

  button {
    background-color: var(--button-background);
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    color: var(--button-text);
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      background-color: var(--button-disabled);
      color: var(--button-disabled-text);
      cursor: default;
    }
  }

  .submit {
    margin-bottom: 1rem;
  }

  .forgotPassword {
    width: fit-content;
    margin-left: auto;
    text-align: right;
    color: var(--global-text-link);
    margin-bottom: 1rem;
    font-weight: 600;

    &:hover {
      color: var(--global-text-hover);
    }
  }

  .errorMessage {
    display: flex;
    flex-direction: column;
    color: var(--input-error);
    padding: 0 1rem;
  }

  .footerCta {
    width: 100%;
    text-align: center;

    a {
      margin-left: 0.5rem;
      color: var(--global-text-link);
      font-weight: 600;

      &:hover {
        color: var(--global-text-hover);
      }
    }
  }
}