.back {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight-background);
	color: var(--highlight-text);
	border-radius: 0.3125rem;
	padding: 0.5rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.back {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	padding: 0;
	background-color: var(--border);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.back svg {
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
	fill: var(--highlight-text);
}

.back svg {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0;
	fill: var(--highlight-background);
}

.back svg.circle {
	height: 3.5rem;
	width: 3.5rem;
	fill: transparent;
	stroke: var(--highlight-background);
	stroke-width: 2;
	stroke-linecap: butt;
}

.circle {
	position: absolute;
	top: 0rem;
}

@media (min-width: 1000px) {
	.back {
		display: none;
	}
}
