.container {
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.overflowContainer {
	display: flex;
	gap: 2rem;
	padding: 1rem;
	width: max-content;
}

.category {
	font-size: 1rem;
	font-weight: 700;
	text-transform: capitalize;
	width: fit-content;
	cursor: pointer;
	color: var(--global-inactive-text);

	&[data-active="true"] {
		text-decoration: underline;
		text-decoration-style: solid;
		text-underline-offset: 0.25rem;
		text-decoration-thickness: 0.125rem;
		text-decoration-color: var(--global-accent);
		color: var(--global-text);
	}
}

@media (min-width: 720px) {
	.category {
		font-size: 1rem;
	}
}
