.item {
	display: grid;
	column-gap: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	position: relative;
}

.details {
	position: absolute;
	bottom: 1.25rem;
	left: 1.25rem;
	background-color: var(--background);
	border-radius: 0.75rem;
	z-index: 1;
	width: calc(100% - 2.5rem);
	padding: 0.5rem;
}

.details h2 {
	margin-bottom: 0.5rem;
}

.details p {
	color: var(--inactive-text);
	font-size: 0.875rem;
}

.coverImage {
	width: 100%;
	height: 24.75rem;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 1.25rem;
}

.coverImage img {
	object-fit: cover;
}

@media (min-width: 720px) {
	.coverImage {
		height: 35rem;
	}

	.details {
		max-width: calc(50% - 2.5rem);
	}
}
