.item {
	border-bottom: 0.0625rem solid var(--global-border);
	display: grid;
	grid-template-columns: auto 6.25rem;
	column-gap: 0.5rem;
	padding: 1.5rem 0.5rem;
	border-radius: 0.5rem;
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.details {
	display: grid;
	grid-template-rows: auto 1.5rem;

	p {
		color: var(--global-inactive-text);
		font-size: 0.875rem;
	}
}

.coverImage {
	height: 5rem;
	aspect-ratio: 5 / 4;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 0.375rem;

	img {
		object-fit: cover;
	}
}

@media (min-width: 720px) {
	.item {
		max-width: 20rem;
		border: none;
		grid-template-columns: 1fr;
		grid-template-rows: 15rem 6rem;
		row-gap: 0.5rem;
		justify-items: start;
		text-align: left;

		&:hover {
			background-color: var(--global-border);

			.coverImage {
				filter: brightness(0.9);
			}
		}
	}

	.coverImage {
		grid-row: 1;
		width: 100%;
		height: auto;
		transition-property: filter;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;
	}

	.details {
		justify-self: start;
		align-content: flex-start;
		padding: 0.25rem 0.75rem;
		row-gap: 0.5rem;

		p {
			grid-row: 1;
		}
	}
}
