.item {
	border-bottom: 0.0625rem solid var(--border);
	display: grid;
	grid-template-columns: auto 6.25rem;
	column-gap: 0.5rem;
	padding: 1.5rem 0.5rem;
}

.details {
	display: grid;
	grid-template-rows: auto 1.5rem;
}

.details p {
	color: var(--inactive-text);
	font-size: 0.875rem;
}

.coverImage {
	height: 5rem;
	aspect-ratio: 5 / 4;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 0.375rem;
}

.coverImage img {
	object-fit: cover;
}

@media (min-width: 720px) {
	.item {
		max-width: 20rem;
		border: none;
		grid-template-columns: 1fr;
		grid-template-rows: 15rem 6rem;
		row-gap: 0.5rem;
		justify-items: start;
		text-align: left;
	}

	.coverImage {
		grid-row: 1;
		height: 15rem;
	}

	.details {
		justify-self: start;
		align-content: flex-start;
		padding: 0.25rem 0.75rem;
		row-gap: 0.5rem;
	}

	.details p {
		grid-row: 1;
	}
}
