.back {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	display: flex;
	height: 3.5rem;
	width: 3.5rem;
	justify-content: center;
	align-items: center;
	background-color: var(--global-border);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
	border-radius: 50%;

	svg.circle {
		position: absolute;
		top: 0rem;
		height: 3.5rem;
		width: 3.5rem;
		margin: 0;
		fill: transparent;
		stroke: var(--global-highlight-background);
		stroke-width: 2;
		stroke-linecap: butt;
	}
}

.back svg {
	height: 1.5rem;
	width: 1.5rem;

	fill: var(--global-highlight-background);
}

@media (min-width: 1000px) {
	.back {
		display: none;
	}
}
