.container {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  img {
    object-fit: cover;
		object-position: top;
		object-position: center;
  }

  &:hover {
    transform: scale(1.05);
  }

  &[data-playing="true"] {
    box-shadow: 0 0 1rem var(--playlist-tile-shadow);
    transform: scale(1.05);
  }

  &[data-idle="true"] {
    filter: grayscale(1);
  }
}