.sections {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;

	h3 {
		color: var(--footer-subheader);
	}
}

.brand {
	flex-direction: row;
	gap: 0.375rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.socialIcons {
	flex-direction: row;

	svg {
		height: 2rem;
		width: auto;
		cursor: pointer;
	}
}

.copyright {
	display: block;
	text-align: center;
	font-size: 0.625rem;
}

@media (min-width: 720px) {
	.sections {
		max-width: 60rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-items: start;
		margin: 0 auto 2rem;
	}

	.section {
		align-items: flex-start;
	}

	.brand {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
	}
}
