.card {
	border-bottom: 0.0625rem solid var(--global-border);
	display: grid;
	grid-template-columns: auto 6.25rem;
	column-gap: 0.5rem;
	padding: 0.5rem 0.5rem 1.5rem;
	border-radius: 0.5rem;
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.skeleton_card {
	@extend .card;
	background-color: transparent;
}

.details {
	display: grid;
	grid-template-rows: auto 1.5rem;

	p {
		color: var(--global-inactive-text);
		font-size: 0.875rem;
	}
}

.skeleton_details {
	@extend .details;
	width: 100%;

	h3 {
		height: 1.5rem;
		width: 100%;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);

		&:first-of-type {
			margin-bottom: 0.5rem;
		}
	}

	p {
		height: 1.5rem;
		width: 8rem;
		border-radius: 0.5rem;
		background-color: var(--skeleton-background);
		margin-top: 0.5rem;
	}
}

.coverImage {
	height: 5rem;
	aspect-ratio: 5 / 4;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 0.375rem;

	img {
		object-fit: cover;
	}
}

.skeleton_coverImage {
	@extend .coverImage;

	background-color: var(--skeleton-background);
}

@media (min-width: 720px) {
	.card {
		max-width: 20rem;
		border: none;
		grid-template-columns: 1fr;
		grid-template-rows: 15rem 6rem;
		row-gap: 0.5rem;
		justify-items: start;
		text-align: left;

		&:hover {
			background-color: var(--global-text);
			color: var(--global-background);

			p {
				color: var(--global-accent);
			}

			.coverImage {
				filter: brightness(0.9);
			}

			.skeleton_coverImage {
				filter: brightness(1);
			}
		}
	}

	.skeleton_item:hover {
		background-color: transparent;
	}

	.coverImage {
		grid-row: 1;
		width: 100%;
		height: auto;
		transition-property: filter;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;
	}

	.details {
		justify-self: start;
		align-content: flex-start;
		padding: 0.25rem 0.75rem;
		row-gap: 0.5rem;

		p {
			grid-row: 1;
		}
	}
}
