.outerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  pointer-events: none;

  .innerContainer {
    position: absolute;
    top: 3.125rem;
    left: 0;
    right: 0;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    height: 86.875vh;

    .userNavMenu {
      position: absolute;
      top: 1rem;
      right: 3rem;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--user-menu-background);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      pointer-events: all;

      .mainMenu {
        background-color: var(--user-menu-option);
        border-radius: 0.25rem;
        overflow: hidden;

        .header {
          width: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .userIcon {
            margin-bottom: 1rem;
          }

          .displayName {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--user-menu-displayName);
          }
          
          .username {
            font-size: 1rem;
            color: var(--user-menu-username);
          }
        }

        .options {
          display: flex;
          flex-direction: column;
          border-top: 1px solid var(--user-menu-background);
        }

        .option {
          font-size: 1.25rem;
        }
      }

      .option {
        color: var(--user-menu-option-text);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        width: 15rem;
        padding: 0.5rem 3rem 0.5rem 1rem;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        pointer-events: all;
        text-transform: none;

        svg {
          font-size: 1.25rem;
          stroke-width: 0.75rem;
          margin-right: 2rem;
        }

        &:hover {
          background-color: var(--user-menu-option-hover);
          color: var(--user-menu-option-text-hover);
        }

        &[data-signout="true"] {
          margin-top: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }

}